@import "base/fonts";
@import "base/reset";
@import "base/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

#popup {
  min-width: 350px;
  padding: 30px 20px;

  h2 {
    font-size: 25px;
    text-align: center;
  }

  .links__holder {
    ul {
      display: flex;
      margin-top: 1em;
      justify-content: space-around;

      li {
        button {
          border-radius: 8%;
          font-size: 20px;
          font-weight: 600;
          background-color: rgba(0, 0, 255, 0.7);
          color: white;
          cursor: pointer;
          padding: 8px 12px;
        }
      }
    }
  }
}