.d-none {
  display: none !important;
}

.v-none {
  visibility: hidden !important;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 3em;
}

.mb-2 {
  margin-bottom: 2em;
}

.my-2 {
  margin-top: 1em;
  margin-bottom: 2em;
}

.py-2 {
  padding: 1em 24px;
}
